.header
    text-align: center
    h1
        margin: .5rem
        font-size: 7vw
        white-space: nowrap
        background: -webkit-linear-gradient(45deg, #ff0707, #ffeb00 60%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        span
            -webkit-text-fill-color: initial
    p
        color: #565656
        font-weight: bold