.app{
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  padding: 2rem;
  // background: url("https://img.freepik.com/free-vector/planets-outer-space-with-satellites-meteors-illustration_33099-2352.jpg?size=626&ext=jpg&uid=R34442073&ga=GA1.2.1132456566.1659668491");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  min-height: 100vh;
  max-width: 100vw;
}
.hide{
  height: 0 !important;
  overflow: hidden !important;
  transition: height .3s !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(45deg, #ff0707, #ffeb00 60%);
}

/* Handle on hover */

